streamlit
python-dotenv
langchain
langchain-community
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-groq
chromadb
tiktoken
sentence-transformers
torch
torchvision
transformers
pydantic
requests
beautifulsoup4
lxml
groq
